.die-face {
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

.die-num {
    font-size: 2em;
}