* {
  box-sizing: border-box;
}

body {
  background-color: #0b2434;
  padding: 3em;
  height: 100vh;
  width: 100vh;
  position: relative;
}

main {
  background-color: #F5F5F5;
  height: 70vh;
  width: 70vh;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
